<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-rdz2UExu9zSoCDSJGoVdFWNkppvtldc</string>
	<key>GCM_SENDER_ID</key>
	<string>796992721580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stravaclone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stravaproject-402809</string>
	<key>STORAGE_BUCKET</key>
	<string>stravaproject-402809.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796992721580:ios:3564d0f43a07afdf84c509</string>
</dict>
</plist>